{% extends 'base.html' %}
{% block content %}
<form action="/login" method="POST">
    <label>User Name: </label>
    <input type="text" name="userName" />
    <span class="errors">
        {% if errors["userName"] != "" %}
        {{ errors["userName"] }}
        {% endif %}
    </span>

    <label>Password: </label>
    <input type="password" name="password" />
    <span class="errors">
        {% if errors["password"] != "" %}
        {{ errors["password"] }}
        {% endif %}

        {% if errors["user"] != "" %}
        {{ errors["user"] }}
        {% endif %}
    </span>


    <input type="submit" value="Login" />
</form>
{% endblock %}